<body>
    <!--
  Numeros serao automaticamente expandidos para lista com letras.<br><br>
  Digite ! (ponto de exclamacao) no final de um codigo para garantir inclusao<br><br>
    Obs. Tem um bug nas planilhas com 140975E e deve ser verificado manualmente<br><br>
    -->
    <h1>Run one_box_only</h1>
    
  <form action="preliminary_report.php" method="post" target="_blank">
      <textarea name="lista_codigos" id="codigosTextarea" rows="16"></textarea>
      <br><br>
      
    <input type="button" id="addExclButton" value="Adicionar ! a todas as linhas">
    <input type="submit">

    <!-- 
    <br><br><br>
    <input type="reset">
    -->
  </form>
  <script>
   document.getElementById("addExclButton").addEventListener("click", function() {
       var codigosTextarea = document.getElementById("codigosTextarea");
       var currentText = codigosTextarea.value.trim();
       var currentLines = currentText.split("\n");
       
       var modifiedText = "";
       currentLines.forEach(function(line) {
           modifiedText += line + "!\n";
       });
       codigosTextarea.value = modifiedText;
   });    
  </script>
</body>
